apiVersion: v1
kind: Config
clusters:
- cluster:
    server: https://dummy-cluster
  name: dummy
contexts:
- context:
    cluster: dummy
    user: dummy
  name: dummy
current-context: dummy
users:
- name: dummy
  user:
    token: dummy-token
